<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>お気に入りのWebサイト</title>
</head>
<body>
  <h1>お気に入りのWebサイト</h1>
  <a href="/logout">ログアウト</a><br><br>
  
  <h2>新しいWebサイトを登録</h2>
  <form action="/add_website" method="POST">
    <label for="title">ページ名:</label>
    <input type="text" id="title" name="title" required><br><br>
    
    <label for="url">URL:</label>
    <input type="url" id="url" name="url" required><br><br>
    
    <button type="submit">登録</button>
  </form>

  <h2>お気に入りWebサイト一覧</h2>
  <table>
    <tr>
      <th>ページ名</th>
    </tr>
    <% @websites.each do |website| %>
      <tr>
        <td><a href="<%= website['url'] %>" target="_blank"><%= website['title'] %></a></td>
      </tr>
    <% end %>
  </table>
</body>
</html>
